body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  filter: drop-shadow(0 50px 20px #0009);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #007bff;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table, th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  text-align: left;

}

td {
  text-align: left;
  cursor: pointer;
}

.stock-low {
  color: orange;
}

.stock-critical {
  color: red;
}

.hidden {
  display: none;
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  display: none;
  filter: drop-shadow(0 50px 20px #0009);
 
}

#popupContent {
  text-align: center;
  filter: drop-shadow(0 50px 20px #0009);
}


#closePopup {
  position: absolute;
  top: -29px;
  right: -15px;
  cursor: pointer;
  color: red;
  font-size: 30px;
}

#popupImage {
  max-width: 200px;
  max-height: 200px;
  margin-bottom: 10px;
}

@media print {
    body * {
        visibility: hidden;
    }
    #alertsTableContainer, #alertsTableContainer * {
        visibility: visible;
    }
    #alertsTableContainer {
        position: absolute;
        left: 0;
        top: 0;
    }
}


#printButton{

  color: #007bff;
  padding: 10px;
  
  
  
    }


/* Responsive */
@media only screen and (max-width: 780px) {
  .container {
    padding: 10px;
  }

  h2 {
    font-size: 18px;
  }

  button {
    font-size: 14px;
  }

  table th, table td {
    padding: 6px;
  }

  .popup-content {
    padding: 10px;
  }

  .popup-image {
    max-width: 150px;
    max-height: 150px;
  }

  .close-popup {
    font-size: 20px;
  }
   
    #searchInput{
      width: 80%;
      background-color: rgb(234, 234, 243);
      height: 10%;
      border-radius: 5%;
    }
     
      button {
          width: 100%;
          COLOR: blue;
          margin: 2% AUTO 2% AUTO;
      }
      
    button {
      width: 100%;
      COLOR: blue;
      margin: 2% AUTO 2% AUTO;
      PADDING: 0%;
      PADDING: 7px;
      font-size: 22px;
  }
  #searchInput {
      width: 90%;
      background-color: rgb(234, 234, 243);
      height: 10%;
      border-radius: 2px;
      FONT-SIZE: 16px;
      PADDING: 10px;
      border: solid 1px;
  }
}

@media only screen and (max-width: 480px) {
  button {
    width: 100%;
  }


  table th, table td {
    padding: 6px;
    font-size: 10px;
}


#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fbfbff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  display: none;
  filter: drop-shadow(0 50px 20px #0009);
  width: 77%;
}
#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fbfbff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    display: none;
    filter: drop-shadow(0 50px 20px #0009);
    width: 63%;
}

#popupImage {
  max-width: 242px;
  max-height: 400px;
  margin-bottom: 10px;
}

  button {
      width: 100%;
      COLOR: blue;           
  }
  

  #searchInput{
    width: 80%;
    background-color: rgb(234, 234, 243);
    height: 10%;
    border-radius: 5%;
  }
  
    #popupImage {
        max-width: 176px;
        max-height: 397px;
        margin-bottom: 10px;
    }
    
    button {
      width: 100%;
      COLOR: blue;
      margin: 2% AUTO 2% AUTO;
      PADDING: 0%;
      PADDING: 4px;
      font-size: 16px;
  }
  #searchInput {
      width: 80%;
      background-color: rgb(234, 234, 243);
      height: 10%;
      border-radius: 3px;
      FONT-SIZE: 12px;
      BORDER: solid 1px;
  }
}
